@tailwind base;
@tailwind components;
@tailwind utilities;

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --per {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.flexcenter  {
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 15px;
}
::-webkit-scrollbar-track {
  width: 8px;
}
.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.vertical-timeline.vertical-timeline--two-columns:before {
  background-color: white;
}
* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.my-name {
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    #eeff00 0%,
    #00ff33 31%,
    #ffaa00 66%
  );
  color: transparent;
  animation: bgChange 10s infinite linear alternate;
  filter: hue-rotate(var(--rotate));
}

.animate-bg {
  background-image: linear-gradient(
    90deg,
    #eeff00 0%,
    #00ff33 31%,
    #ffaa00 66%
  );

  animation: bgChange 10s infinite linear alternate;
  filter: hue-rotate(var(--rotate));
}

@keyframes bgChange {
  to {
    --rotate: 360deg;
  }
}
@keyframes nameChange {
  to {
    --per: 100%;
  }
}
